{% extends 'base.html.twig' %}

{% block body %}
   <h1 style="margin-top: 100px">Premier League </h1>

    <p style="margin-top: 100px; text-align: center;">Retrouvez l'univers de la Barclays Premier League avec tous les joueurs de la ligue ainsi que toutes les equipes.</p>
    <p style="text-align: center;">Naviguez à travers le menu pour voir vos equipes favorites.</p>

{% endblock %}