{% extends 'base.html.twig' %}


{%  block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a class="btn btn-outline-primary" href="{{ path('addPlayers') }}" role="button" style="margin-top: 50px" >Add a Player </a>
    {% endif %}

    <table class="table table-hover" id="example" >
        <thead>
        <tr>
            <th >Player</th>
            <th >Position</th>
            <th >Nationality</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.role }}</td>
            <td>{{ player.nationality }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
    $('#example').DataTable({
        paging : false,

    });
    } );

    </script>

{% endblock %}