{% extends 'base.html.twig' %}


{%  block body %}
    <div class="row">
    <div class="col">

    </div>
    <div class="col-6" style="margin-top: 150px">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="btn btn-outline-primary" href="{{ path('addTeams') }}" role="button" >Add a Team </a>
        {% endif %}

        <div class="card-columns" >
            {% for team in teams %}
                <div class="card text-center" >
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body" >
                        <h5 class="card-title" >{{ team.name }}</h5>
                        <p class="card-text">{{ team.stadium }}</p>
                        <a class="btn btn-primary" href="{{ path('TeamProfile',{'id':team.id} ) }}"> Club Profile</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col">

    </div>
</div>




{% endblock %}