{% extends 'base.html.twig' %}


{%  block body %}
    <a class="btn btn-outline-primary" href="{{ path('addTeams') }}" role="button" style="margin: 50px">Add a Team </a>

        <div class="card-columns">
            {% for team in teams %}
            <div class="card text-center">
                <img src="" class="card-img-top" alt="">
                <div class="card-body" >
                    <h5 class="card-title" >{{ team.name }}</h5>
                    <p class="card-text">{{ team.stadium }}</p>
                    <a class="btn btn-primary" href="#"> Club Profile</a>
                </div>
            </div>
           {% endfor %}
        </div>


{% endblock %}